<div class="container" id="aboutme">
    <img src="../img/me.jpg">
    <h1>About Me</h1>
    <p class="subtitle">
    	I am a senior at the University of Washington studying informatics. My professional background is primarily in design, but I also have a good technical understanding from taking courses in computer science, data science, web programming and Android development. I’ve worked at a startup, medium-sized company, agency, and also done freelance work. I’m passionate about designing simple, delightful, meaningful experiences. I’m currently exploring full-time opportunities for after I graduate this June.
    </p>    
</div>